@tailwind base;
@tailwind components;
@tailwind utilities;

video,
canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

* {
  -webkit-tap-highlight-color: transparent;
}

.words-wrapper {
  overflow-y: auto;
}

.words-wrapper::-webkit-scrollbar {
  width: 5px;
}

.words-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}
